<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=NanumGothic&display=swap" rel="stylesheet" />
    <link href="./css/join.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <title>join</title>
</head>

<body>
<div class="v10_483">
    <!--헤더-->
    <div class="header_bar">
        <div class="logo" onclick="location.href='main.html'"></div>
        <div class='v-line'></div>
        <div class="community" onclick="location.href='community.html'"></div>
        <span class="nav_text_community">커뮤니티</span>
        <div class="team" onclick="location.href='team.html'"></div>
        <span class="nav_text_team">팀원모집</span>
        <div class="search">
            <input type="text" placeholder="검색어 입력">
            <button type="button" onclick="" class="img_search">
                <i class="material-icons">search</i>
            </button>
        </div>
        <div class="v10_2253">
            <button type="button" onclick="location.href='login.html'" class="login_border"><span class="name_login">로그인</span></button>
        </div>
        <div class="v10_2261">
            <button type="button" onclick="location.href='join.html'" class="join_border"><span class="name_join">회원가입</span></button>
        </div>
        <div class="logo" onclick="location.href='main.html'"></div>
    </div>

    <!--회원가입 입력 폼-->
    <div class="v33_1648">
        <div class="join-wrapper">
            <h2>회원가입</h2>
            <br>
            <form method="post" action="서버url" id="join-form">
                <input type="text" placeholder="name">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="github 주소">
                <input type="password" placeholder="Password">
                <select name="interest" form="interest">
                    <option>관심분야</option>
                    <option value="americano">JAVA</option>
                    <option value="caffe latte">SPTING</option>
                    <option value="cafe au lait">SPRING BOOT</option>
                    <option value="espresso">JSP</option>
                </select>
                <select name="job" form="job">
                    <option>직업</option>
                    <option value="americano">FRONT</option>
                    <option value="caffe latte">BACK</option>
                    <option value="cafe au lait">DESIGNER</option>
                    <option value="espresso">STUDENT</option>
                    <option value="espresso">NOTHING</option>
                </select>
                <br><br><hr>
                <input type="submit" value="회원가입">
                <br><span>이미 회원이신가요? </span><span class="v33_1948" onclick="location.href='login.html'">로그인</span>
            </form>
        </div>
    </div>
</div>
</body>

</html>