<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<!--공통 헤더-->
<th:block th:fragment="header">
    <div class="header_bar">
        <div class="logo" th:onclick="|location.href='@{/posts}'|"></div>
        <div class='v-line'></div>
        <div class="community" th:onclick="|location.href='@{/posts/community}'|"></div>
        <span class="nav_text_community">커뮤니티</span>
        <div class="team" th:onclick="|location.href='@{/posts/team}'|"></div>
        <span class="nav_text_team">팀원모집</span>
        <div class="search">
            <form th:action="@{/posts/search}" method="get">
                <input type="text" placeholder="검색어 입력" name="title" />
                <input type="submit" class="img_search" value="검색"/>
                    <i class="material-icons">search</i>
            </form>
        </div>
        <div class="logo" th:onclick="|location.href='@{/posts}'|"></div>

        <!--비회원 헤더-->
        <div class="v10_2253">
            <button sec:authorize="isAnonymous()" type="button" th:onclick="|location.href='@{/login}'|"
                    class="login_border"><span
                    class="name_login">로그인</span></button>
        </div>
        <div id="resultContainer"></div>
        <div class="v10_2261" sec:authorize="isAnonymous()">
            <button type="submit" th:onclick="|location.href='@{/join}'|" class="join_border"><span class="name_join">회원가입</span>
            </button>
        </div>

        <!--회원 헤더-->
        <div class="Toggle" style="display: none;" id='btn1' sec:authorize="isAuthenticated()">
            <button type="button" class="v10_514"
                    th:onclick="|location.href='@{/mypage/{memberId}/activity(memberId=${#authentication.principal.getMemberId()})}'|">
                마이페이지
            </button>
            <button class="v10_514">회원정보</button>
            <hr>
            <button type="button" th:onclick="|location.href='@{/logout}'|" class="v10_513">로그아웃</button>
        </div>
        <button class="v10_2252" onclick="toggleBtn1()" sec:authorize="isAuthenticated()">
            <div class="header_profile_image"></div>
            <span sec:authentication="name" class="header_profile_name"></span>
        </button>
    </div>
</th:block>
</html>

