<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=NanumGothic&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link href="/css/main.css" rel="stylesheet"/>
    <link rel="icon" href="data:,">
    <title>moa</title>
</head>
<script>
    function toggleBtn1() {

        // 토글 할 버튼 선택 (btn1)
        const btn1 = document.getElementById('btn1');

        // btn1 숨기기 (display: none)
        if(btn1.style.display !== 'none') {
            btn1.style.display = 'none';
        }
        // btn` 보이기 (display: block)
        else {
            btn1.style.display = 'block';
        }
    }
</script>
<body>
<!--공통 헤더-->
<div th:fragment="header" class="header_bar">
    <div class="logo" th:onclick="|location.href='@{/posts}'|"></div>
    <div class='v-line'></div>
    <div class="community" th:onclick="|location.href='@{/posts/community}'|"></div>
    <span class="nav_text_community">커뮤니티</span>
    <div class="team" th:onclick="|location.href='@{/posts/team}'|"></div>
    <span class="nav_text_team">팀원모집</span>
    <div class="search">
        <input type="text" placeholder="검색어 입력">
        <button type="button" onclick="" class="img_search">
            <i class="material-icons">search</i>
        </button>
    </div>
    <div class="logo" th:onclick="|location.href='@{/posts}'|"></div>

    <!--비회원 헤더-->
    <div class="v10_2253">
        <button sec:authorize="isAnonymous()" type="button" th:onclick="|location.href='@{/login}'|" class="login_border"><span
                class="name_login" >로그인</span></button>
    </div>
    <div class="v10_2261" sec:authorize="isAnonymous()">
        <button  type="button" th:onclick="|location.href='@{/join}'|" class="join_border"><span class="name_join" >회원가입</span></button>
    </div>

    <!--회원 헤더-->

    <button type="button" class="v10_2252" onclick="toggleBtn1()" sec:authorize="isAuthenticated()">
        <div class="header_profile_image"></div>
        <span sec:authentication="name" class="header_profile_name"></span>
    </button>

    <div class="Toggle" sec:authorize="isAuthenticated()" style="display: none;" id='btn1'>
        <button class="v10_514">마이페이지</button>
        <button class="v10_514">회원정보</button>
        <hr>
        <button type="button" th:onclick="|location.href='@{/logout}'|" class="v10_513">로그아웃</button>
    </div>

    </div>
</body>
</html>