<!DOCTYPE html>
<!--공통 헤더-->
<th:block th:fragment="header">
    <div class="header_main">
        <div class="header_logo" th:onclick="|location.href='@{/posts}'|"></div>
        <div class='header_v-line'></div>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
        <div class="header_community" th:onclick="|location.href='@{/posts/community}'|"></div>
        <span class="header_text_community">커뮤니티</span>
        <div class="header_team" th:onclick="|location.href='@{/posts/team}'|"></div>
        <span class="header_text_team">팀원모집</span>
        <div class="header_group" th:onclick="|location.href='@{/group/grouplist/all}'|"></div>
        <span class="header_text_group">그룹</span>
        <div class="header_search">
            <form th:action="@{/posts/search}" method="get">
                <input type="text" placeholder="검색어 입력" name="title" />
                <input type="image" src='/images/search.png' class="header_img_search" value="검색"/>
            </form>
        </div>
        <div class="header_logo" th:onclick="|location.href='@{/posts}'|"></div>

        <!--비회원 헤더-->
        <div class="header_v10_2253">
            <button sec:authorize="isAnonymous()" type="button" th:onclick="|location.href='@{/login}'|" class="header_login_border"><span
                    class="header_name_login" >로그인</span></button>
        </div>
        <div id="resultContainer"></div>
        <div class="header_v10_2261" sec:authorize="isAnonymous()">
            <button  type="button" th:onclick="|location.href='@{/join}'|" class="header_join_border"><span class="header_name_join" >회원가입</span></button>
        </div>

        <!--회원 헤더-->
        <div class="header_Toggle" style="display: none;" id='btn1' sec:authorize="isAuthenticated()">
            <button type="button" class="header_v10_514" th:onclick="|location.href='@{/mypage/{memberId}/activity(memberId=${#authentication.principal.getMemberId()})}'|">마이페이지</button>
            <button class="header_v10_514" th:onclick="|location.href='@{/mypage/{memberId}(memberId=${#authentication.principal.getMemberId()})}'|">회원정보</button>
            <button class="header_v10_514" th:onclick="|location.href='@{/mypage/{memberId}/group(memberId=${#authentication.principal.getMemberId()})}'|">그룹관리</button>
            <hr>
            <button type="button" th:onclick="|location.href='@{/logout}'|" class="header_v10_513">로그아웃</button>
        </div>
        <button class="header_v10_2252" onclick="toggleBtn1()" sec:authorize="isAuthenticated()">
            <div class="header_profile_image"></div>
            <span sec:authentication="name" class="header_profile_name"></span>
        </button>
    </div>
</th:block>
</html>

