<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <link href="https://fonts.googleapis.com/css?family=NanumGothic&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link href="/css/mypage_activity.css" rel="stylesheet"/>
    <title>mypage_activity</title>
</head>
<body>
<div layout:fragment="content">
<div class="v10_483">

    <!--좌측 네비게이션 바-->
    <div class="category">
        <button type="button" class="v10_582" onclick="">
            <span class="v10_584">마이페이지</span>
            <div class="hashtag"></div>
            <hr class="nav_role">
        </button>
        <button type="button" class="v10_582" onclick="">
            <span class="v10_584">그룹관리</span>
            <div class="hashtag"></div>
            <hr class="nav_role">
        </button>
    </div>

    <!--마이페이지 메인 소개-->
    <form>
        <div class="mypage_intro">
            <div class="v10_762">
                <div class="back_image"></div>
                <div class="profile_image" th:style="'background-image: url(\'/images/' + ${member.profileImage()} + '.png\')'"></div>
                <span class="profile_name_font" th:text="${member.name()}">hongkildong</span>
                <span class="profile_intro" th:text="${member.introduce()}"></span>
                <div class="interest">
                    <div class="github_image"></div>
                    <span class="v10_769">GitHub : <span th:text="${member.github()}">github 주소</span></span>
                    <span class="v10_768">Email : <span th:text="${member.email()}">Email 주소</span></span>
                    <span class="v10_770">Interest : </span>
                    <div class="v10_771"><span class="v10_772" th:text="|# ${member.interest()}|">#web</span></div>
                </div>
                <div class="v10_775">
                    <div class="v10_779"></div>
                    <span class="mypage_location">경기도, 오산</span>
                    <span th:if="${#authentication.name} == ${member.email()}" class="v10_777" th:onclick="|location.href='@{/mypage/{memberId}(memberId=${member.id()})}'|">회원정보 수정</span>

                </div>
            </div>


            <!--마이페이지 중간 카테고리 -------주소 바꿔야함-------->
            <div class="v10_796">
                <div class="v10_800"
                     th:onclick="|location.href='@{/mypage/{memberId}/activity(memberId=${member.id()})}'|"><span
                        class="text_white">활동</span></div>
                <div class="v10_798"
                     th:onclick="|location.href='@{/mypage/{memberId}/group(memberId=${member.id()})}'|"><span
                        class="text_black">그룹 관리</span></div>
            </div>

            <!-----------활동 내역------------>
            <div class="v10_780">
            <span class="v10_782">활동 내역
                <hr></span>

                <!--게시글 한개-->
                <div class="v10_501">
                    <th:block th:each="post : ${posts}">
                        <div class="v10_502">
                            <div class="white_box">
                                <div class="v10_506">
                                    <span class="v10_507" th:text="${post.memberName()}" >아이디1</span>
                                    <span class="v10_508" th:text="${post.memberJob()}">직업</span>
                                    <span class="v10_2226" th:text="${post.createdDateTime()}">2023.05-01</span>
                                    <div class="profile_image_509" th:style="'background-image: url(\'/images/' + ${post.memberProfileImage()} + '.png\')'"></div>
                                </div>

                                <span class="v10_505"
                                      th:onclick="|location.href='@{/posts/{postId}(postId=${post.postId()})}'|"
                                      th:text="${post.title()}">제목</span>
                                <hr class="bar">
                                <div class="blue_box"></div>
                                <span class="blue_font" th:text="|# ${post.interest()}|">#Designer</span>
                            </div>
                        </div>

                    </th:block>
                </div>


                <!---간격 띄우기-->
                <div class="v10_223"></div>
            </div>
        </div>
    </form>
</div>
</div>
</body>

</html>