<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">

<head>
    <link href="https://fonts.googleapis.com/css?family=NanumGothic&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link href="/css/mypage_group_write.css" rel="stylesheet"/>
    <link rel="icon" href="data:,">
    <title>mypage_group_write</title>
</head>

<body>
<div layout:fragment="content">
<div class="v10_483">
    <!--게시글 작성 메인 -->

    <div class="v10_488">
        <div class="v10_490">
            <span class="v10_493">그룹 생성</span>
            <span class="v10_495">새로운 그룹을 만들어보세요!<br><hr></span>
        </div>

        <!--카테고리 선택-->
        <div class="v10_501">
            <form id="myForm" th:object="${createGroupRequest}" th:action="@{/mypage/group/save}" th:method="post">
                <!--게시글 작성 폼-->
                <div class="form-group">

                    <label for="title" class="board_text2">그룹명<br></label>
                    <input type="text" class="form-control" id="title" name="name" maxlength="100" required="required"
                           placeholder="그룹명을 입력해 주세요">

                    <div class="category_name2">관심사
                        <select th:name="interest" class="v10_494" id="tag" th:field="*{interest}">
                            <option value="">관심사 선택</option>
                            <option th:each="interest : ${interests}" th:value="${interest.name()}"
                                    th:text="${interest.name()}"></option>
                        </select>
                    </div>
                    <div class="board_text3">
                        <label for="content">그룹소개<br></label>
                        <textarea class="form-control" rows="20" name="introduce" required="required"
                                  placeholder="내용을 입력해 주세요"></textarea>
                    </div>


                    <div>
                        <button type="submit"  class="button" onclick="handleFormSubmission(event)">
                            <span
                                class="v30_1660">그룹 생성
                            </span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    <script>
        function handleFormSubmission(event) {
            event.preventDefault();

            fetch('http://localhost:8080/mypage/group/save', {
                method: 'POST',
                body: new FormData(document.getElementById('myForm'))
            })
                .then(response => {
                    if (response.ok) {
                        alert('그룹이 생성되었습니다');
                    } else {
                        throw new Error('Failed to submit form');
                    }
                })
                .catch(error => {
                    console.error('Error submitting form:', error.message);
                })
                .finally(() => {
                    window.opener.location.reload();
                    window.close();
                });
        }
    </script>
</div>
</body>

</html>