<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">

<head>
    <link href="https://fonts.googleapis.com/css?family=NanumGothic&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link href="/css/mypage_modify.css" rel="stylesheet" />
    <title>mypage_modify</title>
</head>
<body>
<div layout:fragment="content">
<div class="v10_483">

    <!--게시판 메인-->
    <div class="v104_2240">
        <div class="board_view">
            <div class="v104_2505">
                <!-- 회원정보 수정 ---이메일은 수정 불가능하게 막아뒀습니당-->
                <span class="v10_782">회원정보<hr class="bar"></span>
                <form th:object="${ModifyMemberRequest}" th:action="@{/mypage/{memberId}(memberId=${memberInfo.id()})}" th:method="put">
                    <div class="writer_profile">
                        <div class="v104_2511">이름  <textarea class="text_box" placeholder="회원명을 입력해주세요" th:text="${memberInfo.name()}" name="name"></textarea></div>
                        <div class="v10_770">이메일  <textarea class="text_box" th:text="${memberInfo.email()}" readonly></textarea></div>
                        <div class="v104_2512">직업
                            <select th:name="job" class="text_box"  th:field="*{job}">
                                <option th:value="${memberInfo.job()}" th:text="${memberInfo.job()}">직업</option>
                                <option th:each="job : ${jobs}" th:value="${job.name()}"
                                        th:text="${job.name()}"></option>
                            </select>
                        </div>

                        <div class="v10_771_intro">관심사
                            <select name="interest" class="text_box" id="tag" th:field="*{interest}">
                                <option th:value="${memberInfo.interest()}" th:text="${memberInfo.interest()}">관심사</option>
                                <option th:each="interest : ${interests}" th:value="${interest.name()}" th:text="${interest.name()}"></option>
                            </select>
                        </div>
                        <div class="v10_769_intro">GitHub : <textarea class="text_box" name="github" th:text="${memberInfo.github()}" placeholder="Github 주소를 입력해주세요" size="30px"></textarea></div>
                        <div class="title_intro">회원소개
                            <textarea name="introduce" class="v10_783" th:text="${memberInfo.introduce()}" placeholder="자신을 어필할 소개를 입력해주세요" required></textarea>
                        </div>
                        <div class="writer_image" th:style="'background-image: url(\'../images/' + ${memberInfo.profileImage} + '.png\')'"></div>

                        <a th:href="@{/mypage/profile-image}" target="_blank" id="myLink"></a>
                        <button type="button" class="button_image" onclick="openNewWindow()">
                            <span class="v30_1660" >이미지 선택</span>
                        </button>

                        <div class="v30_1649">
                            <button type="submit"  class="button"><span class="v30_1651">작성</span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    <script>
        function openNewWindow() {
            let url = document.getElementById('myLink').getAttribute('href');
            window.open(url, '_blank', 'width=910, height=760, scrollbars=no, resizable=no, toolbars=no, menubar=no');
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</div>
</body>
</html>