<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/css?family=NanumGothic&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link href="/css/mypage_profile_image.css" rel="stylesheet" />
    <title>mypage_profile_image</title>
</head>
<!------------------파일 페이지 헤더연결, 이슈 작성 페이지 연결 필요합니당---------------->
<body>
<div class="v10_483">
    <!--게시글 작성 메인 -->

    <div class="v10_488">
        <div class="v10_490">
            <span class="v10_493">프로필 이미지</span>
            <span class="v10_495">마음에 드는 프로필 이미지를 선택해보세요!<br><hr></span>
        </div>

        <div class="v10_501">
            <ul>
                <li>
                    <input type="radio" name="profile" id="myRadio1" />
                    <label for="myRadio1"><img src="../images/profile_1.png" /></label>
                </li>
                <li>
                    <input type="radio" name="profile" id="myRadio2" />
                    <label for="myRadio2"><img src="../images/profile_2.png" /></label>
                </li>
                <li>
                    <input type="radio" name="profile" id="myRadio3" />
                    <label for="myRadio3"><img src="../images/profile_3.png" /></label>
                </li>
                <li>
                    <input type="radio" name="profile" id="myRadio4" />
                    <label for="myRadio4"><img src="../images/profile_4.png" /></label>
                </li>
                <li>
                    <input type="radio" name="profile" id="myRadio5" />
                    <label for="myRadio5"><img src="../images/profile_5.png" /></label>
                </li>
            </ul>
            <ul>
                <li>
                    <input type="radio" name="profile" id="myRadio6" />
                    <label for="myRadio6"><img src="../images/profile_6.png" /></label>
                </li>
                <li>
                    <input type="radio" name="profile" id="myRadio7" />
                    <label for="myRadio7"><img src="../images/profile_7.png" /></label>
                </li>
                <li>
                    <input type="radio" name="profile" id="myRadio8" />
                    <label for="myRadio8"><img src="../images/profile_8.png" /></label>
                </li>
                <li>
                    <input type="radio" name="profile" id="myRadio9" />
                    <label for="myRadio9"><img src="../images/profile_9.png" /></label>
                </li>
                <li>
                    <input type="radio" name="profile" id="myRadio10" />
                    <label for="myRadio10"><img src="../images/profile_10.png" /></label>
                </li>
            </ul>
            <ul>
                <li>
                    <input type="radio" name="profile" id="myRadio11" />
                    <label for="myRadio11"><img src="../images/profile_11.png" /></label>
                </li>
                <li>
                    <input type="radio" name="profile" id="myRadio12" />
                    <label for="myRadio12"><img src="../images/profile_12.png" /></label>
                </li>
                <li>
                    <input type="radio" name="profile" id="myRadio13" />
                    <label for="myRadio13"><img src="../images/profile_13.png" /></label>
                </li>
                <li>
                    <input type="radio" name="profile" id="myRadio14" />
                    <label for="myRadio14"><img src="../images/profile_14.png" /></label>
                </li>
                <li>
                    <input type="radio" name="profile" id="myRadio15" />
                    <label for="myRadio15"><img src="../images/profile_15.png" /></label>
                </li>
            </ul>


            <div>
                <button type="button" class="button" ><span class="v30_1660">선택</span></button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>

    </script>
</div>
</body>

</html>