<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <link href="https://fonts.googleapis.com/css?family=NanumGothic&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link href="/css/mypage_group.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title>mypage_group</title>
</head>

<body>
<div layout:fragment="content">
    <div class="v10_483">

        <!--좌측 네비게이션 바-->
        <div class="category">
            <button type="button" class="v10_582" onclick="">
                <span class="v10_584">마이페이지</span>
                <div class="hashtag"></div>
                <hr class="nav_role">
            </button>
            <button type="button" class="v10_582" onclick="">
                <span class="v10_584">그룹관리</span>
                <div class="hashtag"></div>
                <hr class="nav_role">
            </button>
            <!--가입한 그룹 정렬할 위치 주소도 바꿔야함-->
            <button type="button" class="v10_582"
                    th:onclick="|location.href='@{/group/intro/{groupId}(groupId=${groupCategory.groupId()})}'|"
                    th:each="groupCategory : ${groupCategories}">
                <span class="v10_584" th:text="${groupCategory.groupName()}"></span>
                <hr class="nav_role">
            </button>
        </div>

        <!--마이페이지 메인 소개-->
        <form>
            <div class="mypage_intro">
                <div class="v10_762">
                    <div class="back_image"></div>
                    <div class="profile_image"></div>
                    <span class="profile_name_font" th:text="${member.name()}">hongkildong</span>
                    <span class="profile_intro" th:text="${member.introduce()}"> </span>
                    <div class="interest">
                        <div class="github_image"></div>
                        <span class="v10_769">GitHub : <span th:text="${member.github()}">github 주소</span></span>
                        <span class="v10_768">Email : <span th:text="${member.email()}">Email 주소</span></span>
                        <span class="v10_770">Interest : </span>
                        <div class="v10_771"><span class="v10_772" th:text="|# ${member.interest()}|">#web</span></div>
                    </div>
                    <div class="v10_775">
                        <div class="v10_779"></div>
                        <span class="mypage_location">경기도, 오산</span>

                    </div>
                </div>


                <!--마이페이지 중간 카테고리 -------주소 바꿔야함-------->
                <div class="v10_796">
                    <div class="v10_798"
                         th:onclick="|location.href='@{/mypage/{memberId}/activity(memberId=${member.id()})}'|"><span
                            class="text_black">활동</span></div>
                    <div class="v10_800"
                         th:onclick="|location.href='@{/mypage/{memberId}/group(memberId=${member.id()})}'|"><span
                            class="text_white">그룹 관리</span></div>
                </div>

                <!-----------그룹 관리------------>
                <div class="v10_780">
                    <span class="v10_782">그룹 관리</span>
                    <div class="group_create">
                        <a th:href="@{/mypage/group/create}" target="_blank" id="myLink"></a>
                        <button th:if="${member.email()} == ${#authentication.getName()}" type="button"
                                class="join_border"
                                onclick="openNewWindow()">
                            <span class="name_join">그룹 생성</span></button>
                    </div>

                    <div class="v10_501">
                        <th:block th:each="group : ${groups}">
                            <!------그룹 한개------>
                            <!--그룹명-->
                            <p class="h-line" th:text="${group.groupName()}">MOA</p>
                            <div class="group_invite_box">
                                <button type="button" class="join_border"
                                        th:if="${member.email()} == ${#authentication.getName()}"
                                        th:onclick="group_invite_function([[${group.groupId()}]], [[${member.email()}]])"><span
                                        class="name_join">그룹 초대</span></button>
                            </div>
                            <input name="groupId" id="groupId" th:value="${group.groupId()}" hidden="hidden">
                            <div class="group_delete_box">
                                <button th:if="${member.email()} == ${#authentication.getName()}" type="button"
                                        class="login_border" onclick="deleteGroup()"><span
                                        class="name_login">그룹 삭제</span></button>
                            </div>

                            <!--그룹원 한명-->
                            <th:block th:each="groupMember : ${group.groupMembers()}">
                                <div class="v10_502">
                                    <div class="white_box">
                                        <div class="v10_506">
                                            <span class="v10_507" th:text="${groupMember.name()}" th:onclick="|location.href='@{/mypage/{memberId}/activity(memberId=${groupMember.memberId()})}'|">SEMI</span>
                                            <span class="v10_508" th:text="${groupMember.job()}">Designer</span>
                                            <div class="profile_image_509"></div>
                                            <div class="v10_22"
                                                 th:if="${member.email()} == ${#authentication.getName()}">
                                                <button th:if="${groupMember.email()} != ${member.email()} or ${groupMember.role()} == 'MEMBER'"
                                                        type="button"
                                                        class="login_border"
                                                        th:onclick="|location.href='@{/mypage/{leaderMemberId}/group/{groupMemberId}/remove(leaderMemberId=${member.id()}, groupMemberId=${groupMember.id()})}'|">
                                                    <span class="name_login">추방</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </th:block>

                        </th:block>
                    </div>
                    <!------그룹 한개 끝------>

                    <div class="v10_5011">
                        <!------초대받은 그룹------>
                        <div class="group_invite">
                            <p class="h-line" style="font-size: 17px;">초대받은 그룹</p>
                        </div>

                        <!------초대받은 그룹 하나(소개 최대 글자 80자 이후 "..." 표시)------>
                        <div class="v10_502" th:each="invitation : ${invitations}">
                            <div class="white_box">
                                <div class="v10_506">
                                    <span class="v10_507" th:text="${invitation.groupName()}">MOA</span>
                                    <div class="group_profile_image_509"></div>
                                    <div class="group_intro" th:text="${invitation.groupIntroduce()}">개발자들을 연결시켜 공모전,
                                        사이드
                                        프로젝트를 보다 더 쉽게 진행할 수 있도록 관리해 주는 도구를 제공하는 소셜 네트워킹 플랫폼을 개발합니다! 안녕하세요
                                    </div>
                                    <div class="v10_21">
                                        <button type="button" class="join_border"
                                                th:if="${member.email()} == ${#authentication.getName()}" th:onclick="|location.href='@{/mypage/{memberId}/group/{inviteId}/accept(memberId=${member.id()}, inviteId=${invitation.id()})}'|">
                                        <span class="name_join">수락</span>
                                        </button>
                                    </div>
                                    <div class="v10_22">
                                        <button type="button" class="login_border"
                                                th:if="${member.email()} == ${#authentication.getName()}"
                                                th:onclick="|location.href='@{/mypage/{memberId}/group/{inviteId}/reject(memberId=${member.id()}, inviteId=${invitation.id()})}'|">
                                            <span class="name_login">거절</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---간격 띄우기-->
                        <div class="v10_223"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script th:inline="javascript">
        function group_invite_function(groupId) {
            let inviteEmail = prompt("초대할 이메일을 입력해주세요");

            if (inviteEmail == null || inviteEmail === "") {
                alert("이메일을 입력하지 않으셨습니다 :(");
                return;
            }
console.log(inviteEmail)
            let InviteGroupRequest = {
                groupId: groupId,
                inviteEmail: inviteEmail
            };

            // Convert InviteGroupRequest to JSON string
            let jsonData = JSON.stringify(InviteGroupRequest);

            $.ajax({
                type: 'get',
                async: false,
                contentType: "application/json",
                url: "http://localhost:8080/mypage/check-invitation",
                data: {
                    inviteEmail,
                    groupId
                },
                success: function (data) {
                    console.log(data)
                    if (data === 0) {
                        alert("회원을 찾을 수 없습니다.");
                        window.location.reload();
                    }else if (data === 1){
                        alert("이미 가입된 회원입니다.");
                        window.location.reload();
                    }else if (data === 2) {
                        alert("이미 초대된 회원입니다.");
                        window.location.reload();
                    } else {
                        // Send JSON data to the backend
                        $.ajax({
                            type: "POST",
                            contentType: "application/json",
                            url: "/mypage/group/invite",
                            data: jsonData,
                            success: function (response) {
                                alert(" 아이디 : " + inviteEmail + "이/가 초대되었습니다 :)")
                            }
                        });
                    }
                },
            })


        }

        function openNewWindow() {
            let url = document.getElementById('myLink').getAttribute('href');
            window.open(url, '_blank', 'width=800, height=700, scrollbars=no, resizable=no, toolbars=no, menubar=no');
        }

        function deleteGroup() {
            const groupId = $('#groupId').val();
            const url = "/mypage/group/" + groupId + "/delete";
            if (confirm("해당 그룹을 삭제하시겠습니까??") === true) {    //확인
                fetch(url, {
                    method: 'POST'
                }).then(response => {
                    if (response) {
                        alert("그룹을 삭제했습니다.");
                        window.location.reload();  // 페이지 새로 고침
                    } else {
                        alert("그룹 삭제에 실패했습니다.")
                    }
                })
            } else {   //취소
                alert("그룹 삭제를 취소합니다.")
            }
        }
    </script>
</div>
</body>
</html>