<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <link href="https://fonts.googleapis.com/css?family=NanumGothic&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link href="/css/group_management_file.css" rel="stylesheet"/>
    <title>group_management_file</title>
</head>
<body>
<div layout:fragment="content">
    <div class="v10_483">
        <!--좌측 네비게이션 바-->
        <div class="category">
            <button type="button" class="v10_582">
                <span class="v10_584">마이페이지</span>
                <div class="hashtag"></div>
                <hr class="nav_role">
            </button>
            <button type="button" class="v10_582">
                <span class="v10_584">그룹관리</span>
                <div class="hashtag"></div>
                <hr class="nav_role">
            </button>
            <!--가입한 그룹 정렬할 위치 주소도 바꿔야함-->
            <button type="button" class="v10_582">
                <span class="v10_584" th:text="${group.name()}">MOA</span>
                <hr class="nav_role">
            </button>
        </div>

        <!--그룹페이지 메인 소개-->
        <div class="grouppage_intro">
            <form>
                <div class="v10_762">
                    <div class="back_image"></div>
                    <div class="profile_image"></div>
                    <span class="profile_name_font" th:text="${group.name()}">MOA</span>
                    <span class="profile_intro" th:text="${group.introduce()}">그룹 설명</span>
                    <div class="interest">
                        <div class="github_image"></div>
                        <span class="v10_769">GitHub : <span>https://github.com/capstone-moa</span></span>
                        <span class="v10_770">Interest : </span>
                        <div class="v10_771"><span class="v10_772" th:text="|# ${group.interest()}|">#web</span>
                        </div>
                    </div>
                    <div class="v10_775">
                        <div class="v10_779"></div>
                        <span class="mypage_location">경기도, 오산</span>
                    </div>
                </div>

                <!--그룹페이지 중간 카테고리 -------주소 바꿔야함-------->
                <div class="v10_796">
                    <div class="middle_category1"
                         th:onclick="|location.href='@{/group/intro/{groupId}(groupId=${group.id()})}'|"><span
                            class="text_black">그룹소개</span></div>
                    <div class="middle_category2"
                         th:onclick="|location.href='@{/group/notice/{groupId}(groupId=${group.id()})}'|"><span
                            class="text_black">공지사항</span>
                    </div>
                    <div class="middle_category3"
                         th:onclick="|location.href='@{/group/project/{groupId}/issue(groupId=${group.id()})}'|">
                        <span class="text_white">프로젝트 관리</span>
                    </div>
                    <div class="middle_category4"
                         th:onclick="|location.href='@{/group/calendar/{groupId}(groupId=${group.id()})}'|"><span
                            class="text_black">일정관리</span>
                    </div>
                    <div class="middle_category5"
                         th:onclick="|location.href='@{/group/address/{groupId}(groupId=${group.id()})}'|"><span
                            class="text_black">오프라인 모임</span>
                    </div>
                </div>

                <!-----------공지사항----작성버튼 group_file_write로 하면 됩니당!-------->
                <div class="v10_780">
                    <span class="v10_782">프로젝트 관리 - 보고서<br></span>
                    <span class="v10_491"><hr></span>
                    <button class="image_1" onclick="window.open('https://www.erdcloud.com/');"></button>
                    <span class="image_509">ERD</span>
                    <button class="image_2" onclick="window.open('https://www.figma.com/');"></button>
                    <span class="image_510">FIGMA</span>
                    <button type="button" class="image_3"
                            th:onclick="|location.href='@{/group/project/{groupId}/issue(groupId=${group .id()})}'|"></button>
                    <span class="image_511">이슈</span>
                    <button type="button" class="image_4"
                            th:onclick="|location.href='@{/group/project/{groupId}/files(groupId=${group.id()})}'|"></button>
                    <span class="image_512">보고서</span>

                    <label>
                        <input id="groupId" name="groupId" th:value="${groupId}" hidden="hidden">
                    </label>

                    <a th:href="@{/group/project/{groupId}/files/write(groupId=${group.id()})}" target="_blank"
                       id="myLink"></a>
                    <button th:if="${check}" type="button" class="button"
                            onclick="openNewWindow()">
                        <span class="v30_1660" >작성</span>
                    </button>
                    <!--게시글 한개-->
                    <div class="v10_501">
                        <th:block th:each="reportFile : ${reportFiles}">
                            <div class="v10_502">
                                <div class="white_box">

                                    <button type="button" class="del_comment"
                                            th:if="${check} == true" th:onclick="deleteReportFile([[${reportFile.id()}]])">삭제</button>
                                    <span class="v10_505" th:text="${reportFile.title()}">제목</span>
                                    <span class="v10_509" th:text="${reportFile.fileName()}">파일명</span>
                                    <a class="v10_509_file" th:if="${check}" th:href="@{/group/project/download/{fileId}(fileId=${reportFile.id()})}">download</a>
                                    <hr class="bar">
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script th:inline="javascript">
        function openNewWindow() {
            let url = document.getElementById('myLink').getAttribute('href');
            window.open(url, '_blank', 'width=800, height=350, scrollbars=no, resizable=no, toolbars=no, menubar=no');
        }

        function deleteReportFile(reportFileId) {
            const groupId = $('#groupId').val();
            console.log(reportFileId)
            const url = "/group/project/" + groupId + "/files/" + reportFileId + "/delete";
            if (confirm("해당 보고서를 삭제하시겠습니까??") === true) {    //확인
                fetch(url, {
                    method: 'POST'
                }).then(response => {
                    console.log(response.status)
                    if (response.ok) {
                        alert("보고서를 삭제했습니다.");
                    } else {
                        alert("보고서 삭제에 실패했습니다.")
                    }
                }).finally(() => {
                    window.location.reload();
                })
            } else {   //취소
                alert("보고서 삭제를 취소합니다.")
            }
        }
    </script>
</div>
</body>
</html>