<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/css?family=NanumGothic&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link href="/css/group_notice_write.css" rel="stylesheet" />
    <title>group_notice_write</title>
</head>

<body>
<div class="v10_483">
    <!--헤더-->
    <div class="header_bar">
        <div class="logo" th:onclick="|location.href='@{/posts/community}'|"></div>
        <div class='v-line'></div>
        <div class="community" th:onclick="|location.href='@{/posts/community}'|"></div>
        <span class="nav_text_community">커뮤니티</span>
        <div class="team" th:onclick="|location.href='@{/posts/team}'|"></div>
        <span class="nav_text_team">팀원모집</span>
        <div class="search">
            <input type="text" placeholder="검색어 입력">
            <button type="button" onclick="" class="img_search">
                <i class="material-icons">search</i>
            </button>
        </div>
        <div class="v10_2253">
            <button type="button" th:onclick="|location.href='@{/posts/login}'|" class="login_border"><span class="name_login">로그인</span></button>
        </div>
        <div class="v10_2261">
            <button type="button" th:onclick="|location.href='@{/posts/join}'|" class="join_border"><span class="name_join">회원가입</span></button>
        </div>
        <div class="logo" th:onclick="|location.href='@{/posts}'|"></div>
    </div>

    <!--게시글 작성 메인 -->

    <div class="v10_488">
        <div class="v10_490">
            <span class="v10_493">공지사항 글쓰기</span>
            <span class="v10_495">용어 정리 & 컨벤션(규칙) 등을 정리해보세요!<br><hr></span>
        </div>

        <!--카테고리 선택-->
        <div class="v10_501">
            <form th:action th:object="${writePostRequest}" method="post">

                <!--게시글 작성 폼-->
                <div class="form-group">
                    <label for="title" class="board_text2">제목<br></label>
                    <input type="text" class="form-control" id="title" name="title" maxlength="100" required="required"
                           placeholder="제목을 입력해 주세요">

                    <div class="board_text3">
                        <label for="content">내용<br></label>
                        <textarea class="form-control" rows="30" name="content" required="required"
                                  placeholder="내용을 입력해 주세요"></textarea>
                    </div>

                    <div>
                        <button type="submit" class="button"><span class="v30_1660">작성</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>