<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/css?family=NanumGothic&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link href="/css/group_profile_upload.css" rel="stylesheet" />
    <title>group_file_write</title>
</head>
<!------------------파일 페이지 헤더연결, 이슈 작성 페이지 연결 필요합니당---------------->
<body>
<div class="v10_483">
    <!--게시글 작성 메인 -->

    <div class="v10_488">
        <div class="v10_490">
            <span class="v10_493">프로필 업로드</span>
            <span class="v10_495">그룹 프로필을 업로드해주세요<br><hr></span>
        </div>

        <!--카테고리 선택-->
        <div class="v10_501">
            <form id="form" enctype="multipart/form-data">

                <!--게시글 작성 폼-->
                <div class="form-group">

                    <div class="board_text3">
                        <input type="file" name="file" id="file">
                    </div>

                    <div>
                        <button type="button" class="button" th:onclick="saveReportFile([[${groupId}]])"><span class="v30_1660">작성</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        function saveReportFile(groupId) {
            const form = $('#form')[0];
            const formData = new FormData(form);
            formData.append('file', $('#file'));
            console.log(formData)
            $.ajax({
                type: 'post',
                url: '/group/' + groupId + '/profile/save',
                processData: false,
                contentType: false,
                data: formData,
            }).done(function (){
                alert('보고서가 등록되었습니다.');
                window.opener.location.reload();
                window.close();
            }).fail(function (error){
                alert(JSON.stringify(error));
            });
        }
    </script>
</div>
</body>

</html>