<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <link href="https://fonts.googleapis.com/css?family=NanumGothic&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link href="/css/issue_view.css" rel="stylesheet"/>
    <title>view</title>
</head>


<body>
<!--헤더-->
<div layout:fragment="content">

    <div class="v104_2240">
        <!--게시판 뷰 메인-->
        <div class="board_view">
            <div class="v104_2505">
                <!-- 게시물 메인 -->

                <span class="view_title" th:text="${issue.title()}">제목</span>
                <textarea class="view_text" cols="33" th:text="${issue.content()}" readonly>내용</textarea>
                <div class="writer_profile">
                    <span class="v104_2511" th:text="${issue.writer()}">작성자 이메일</span>
                    <span class="v104_2676" th:text="${issue.createdDateTime()}">작성일</span>
                    <div class="writer_image"></div>
                    <button type="button" class="del_Issue" th:if="${check} == true"
                           onclick="deleteIssue()">삭제</button>

                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script th:inline="javascript">
        function toggleBtn3() {

            // 토글 할 버튼 선택 (btn1)
            const btn3 = document.getElementById('btn3');

            // btn1 숨기기 (display: none)
            if (btn3.style.display !== 'none') {
                btn3.style.display = 'none';
            }
            // btn` 보이기 (display: block)
            else {
                btn3.style.display = 'block';
            }
        }

        function deleteIssue() {
            const groupId = $('#groupId').val();
            const issueId = $('#issueId').val();
            const url = '/group/project/issue/' + issueId + '/delete';
            if (confirm("이슈를 삭제하시겠습니까?") === true) {
                fetch(url, {
                    method: 'POST'
                }).then(response => {
                    if (response) {
                        alert("이슈를 삭제했습니다.");
                        window.location.href = '/group/project/' + groupId + '/issue';
                    } else {
                        alert("이슈 삭제에 실패했습니다.")
                    }
                })
            }
        }
    </script>
</div>
</body>

</html>