<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <link href="https://fonts.googleapis.com/css?family=NanumGothic&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link href="/css/group_notice.css" rel="stylesheet"/>
    <title>group_notice</title>
</head>

<body>
<!--헤더-->
<div layout:fragment="content">
    <div class="v10_483">
        <!--좌측 네비게이션 바-->
        <div class="category">
            <button type="button" class="v10_582">
                <span class="v10_584">마이페이지</span>
                <div class="hashtag"></div>
                <hr class="nav_role">
            </button>
            <button type="button" class="v10_582">
                <span class="v10_584">그룹관리</span>
                <div class="hashtag"></div>
                <hr class="nav_role">
            </button>
            <!--가입한 그룹 정렬할 위치 주소도 바꿔야함-->
            <button type="button" class="v10_582">
                <span class="v10_584" th:text="${groupIntro.name()}">MOA</span>
                <hr class="nav_role">
            </button>
        </div>

        <!--그룹페이지 메인 소개-->
        <div class="grouppage_intro">
            <form>
                <div class="v10_762">
                    <div class="back_image"></div>
                    <div class="profile_image" th:style="'background-image: url(data:image/png;base64,' + ${groupProfile} + ');'"></div>
                    <span class="profile_name_font" th:text="${groupIntro.name()}">MOA</span>
                    <span class="profile_intro" th:text="${groupIntro.introduce()}">그룹 설명</span>
                    <div class="interest">
                        <div class="github_image"></div>
                        <span class="v10_769">GitHub : <span th:text="${groupIntro.github()}">https://github.com/capstone-moa</span></span>
                        <span class="v10_770">Interest : </span>
                        <div class="v10_771"><span class="v10_772" th:text="|# ${groupIntro.interest()}|">#web</span>
                        </div>
                    </div>
                    <div class="v10_775">
                        <div class="v10_779"></div>
                        <span class="mypage_location">경기도, 오산</span>
                    </div>
                </div>

                <!--그룹페이지 중간 카테고리 -------주소 바꿔야함-------->
                <div class="v10_796">
                    <div class="middle_category1"
                         th:onclick="|location.href='@{/group/intro/{groupId}(groupId=${groupIntro.id()})}'|"><span
                            class="text_black">그룹소개</span></div>
                    <div class="middle_category2"
                         th:onclick="|location.href='@{/group/notice/{groupId}(groupId=${groupIntro.id()})}'|"><span
                            class="text_white">공지사항</span>
                    </div>
                    <div class="middle_category3"
                         th:onclick="|location.href='@{/group/project/{groupId}/issue(groupId=${groupIntro.id()})}'|">
                        <span class="text_black">프로젝트 관리</span>
                    </div>
                    <div class="middle_category4"
                         th:onclick="|location.href='@{/group/calendar/{groupId}(groupId=${groupIntro.id()})}'|"><span
                            class="text_black">일정관리</span>
                    </div>
                    <div class="middle_category5"
                         th:onclick="|location.href='@{/group/address/{groupId}(groupId=${groupIntro.id()})}'|"><span
                            class="text_black">오프라인 모임</span>
                    </div>
                </div>

                <!-----------공지사항------작성버튼 주소 바꿔야함------>
                <div class="v10_780">
                    <span class="v10_782">공지사항<br></span>
                    <span class="v10_491"><hr>용어 정리 & 컨벤션(규칙) 등을 정리하는 공간</span>
                    <a th:href="@{/group/notice/{groupId}/write(groupId=${groupIntro.id()})}" target="_blank"
                       id="myLink"></a>
                    <button type="button" class="button" onclick="openNewWindow()"
                    th:if="${leader.email()} == ${#authentication.name}"><span class="v30_1660">작성</span>
                    </button>
                    <button th:unless="${leader.email()} == ${#authentication.name}" type="button" class="button1">
                    </button>

                    <!--게시글 한개-->
                    <div class="v10_501">
                        <th:block th:each="notice : ${notices}">
                            <div class="v10_502">
                                <div class="white_box">
                                    <label>
                                        <input name="noticeId" id="noticeId" th:value="${notice.noticeId()}"
                                               hidden="hidden">
                                    </label>
                                    <button class="v10_514"  th:if="${leader.email()} == ${#authentication.name}"
                                    th:onclick="deleteNotice([[${notice.noticeId()}]])" type="button">삭제</button>
                                    <span class="v10_505" th:text="${notice.title()}">제목</span>
                                    <textarea class="v10_509" cols="50" rows="25" maxlength="600" th:text="${notice.content()}" readonly>
                                    내용</textarea>
                                </div>
                            </div>

                        </th:block>

                    </div>
                    <!---간격 띄우기-->
                    <div class="v10_223"></div>

                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script th:inline="javascript">
        function openNewWindow() {
            let url = document.getElementById('myLink').getAttribute('href');
            window.open(url, '_blank', 'width=800, height=800, scrollbars=no, resizable=no, toolbars=no, menubar=no');
        }

        function deleteNotice(noticeId) {
            const url = "/group/notice/" + noticeId + '/delete';
            if (confirm("해당 공지를 삭제하시겠습니까??") === true) {    //확인
                fetch(url, {
                    method: 'POST'
                }).then(response => {
                    if (response) {
                        alert("공지를 삭제했습니다.");
                        window.location.reload();  // 페이지 새로 고침
                    } else {
                        alert("공지 삭제에 실패했습니다.")
                    }
                })
            } else {   //취소
                alert("공지 삭제를 취소합니다.")
            }
        }
    </script>
</div>
</body>
</html>