<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <link href="https://fonts.googleapis.com/css?family=NanumGothic&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link href="/css/view.css" rel="stylesheet"/>
    <title>view</title>
</head>


<body>
<!--헤더-->
<div layout:fragment="content">

    <div class="v104_2240" >
        <!--게시판 뷰 메인-->
        <div class="board_view">
            <div class="v104_2505">
                <!-- 게시물 메인 -->

                <span class="view_title" >제목</span>
                <textarea class="view_text" cols="33"  readonly>내용</textarea>
                <div class="writer_profile">
                    <span class="v104_2511" >작성자 이메일</span>
                    <span class="v104_2512" >작성자 직업</span>
                    <span class="v104_2676" >작성일</span>
                    <div class="writer_image"></div>
                    <div >
                        <button class="v10_510" id='btn2' onclick='toggleBtn3()'>
                            <div class="v10_511"></div>
                            <div class="v10_512"></div>
                            <div class="v10_513"></div>
                        </button>
                        <div class="Toggle" style="display: none;" id='btn3'>
                            <button class="v10_514" >수정</button>
                            <button class="v10_514" >삭제</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script th:inline="javascript">
        function toggleBtn3() {

            // 토글 할 버튼 선택 (btn1)
            const btn3 = document.getElementById('btn3');

            // btn1 숨기기 (display: none)
            if (btn3.style.display !== 'none') {
                btn3.style.display = 'none';
            }
            // btn` 보이기 (display: block)
            else {
                btn3.style.display = 'block';
            }
        }

        function saveComment() {

            const member = $('#member').val();

            if (member === 'anonymousUser') {
                alert('로그인한 사용자만 댓글을 입력할 수 있습니다.');
                window.location.reload();
            }


            const WriteCommentRequest = {
                postId: $('#postId').val(),
                content: $('#content').val()
            };

            // 공백 및 빈 문자열 체크
            if (!WriteCommentRequest.content || WriteCommentRequest.content.trim() === "") {
                alert("공백 또는 입력하지 않은 부분이 있습니다.");
                return false;
            }else {
                $.ajax({
                    type: 'POST',
                    url: '/posts/comment',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(WriteCommentRequest)
                }).done(function () {
                    alert('댓글이 등록되었습니다.');
                    window.location.reload()
                }).fail(function (error) {
                    alert(JSON.stringify(error))
                });
            }
        }

        function deletePost(postId) {
            const url = '/posts/' + postId + '/delete';
            if (confirm("게시글을 삭제하시겠습니까?") === true) {
                fetch(url, {
                    method: 'POST'
                }).then(response => {
                    if (response) {
                        alert("게시글을 삭제했습니다.");
                        window.location.href = '/posts';
                    } else {
                        alert("공지 삭제에 실패했습니다.")
                    }
                })
            }
        }
    </script>
</div>
</body>

</html>