<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css?family=NanumGothic&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link href="/css/group_management_issue.css" rel="stylesheet"/>
    <title>group_management</title>
</head>
<script>
    function toggleBtn1() {

        // 토글 할 버튼 선택 (btn1)
        const btn1 = document.getElementById('btn1');

        // btn1 숨기기 (display: none)
        if(btn1.style.display !== 'none') {
            btn1.style.display = 'none';
        }
        // btn` 보이기 (display: block)
        else {
            btn1.style.display = 'block';
        }
    }
</script>
<body>
<div class="v10_483">
    <!--로그인 한 헤더-->
    <div class="header_bar">
        <div class="logo" th:onclick="|location.href='@{/posts}'|"></div>
        <div class='v-line'></div>
        <div class="community" th:onclick="|location.href='@{/posts/community}'|"></div>
        <span class="nav_text_community">커뮤니티</span>
        <div class="team" th:onclick="|location.href='@{/posts/team}'|"></div>
        <span class="nav_text_team">팀원모집</span>
        <div class="search">
            <input type="text" placeholder="검색어 입력">
            <button type="button" onclick="" class="img_search">
                <i class="material-icons">search</i>
            </button>
        </div>
        <div class="v10_2253" th:onclick="|location.href='@{/posts/mypage_activity}'|">
            <div class="header_profile_image"></div>
            <span class="header_profile_name">hong kildong</span>
        </div>
        <div class="logo" th:onclick="|location.href='@{/posts}'|"></div>
    </div>

    <!--좌측 네비게이션 바-->
    <div class="category">
        <button type="button" class="v10_582" onclick="">
            <span class="v10_584">마이페이지</span>
            <div class="hashtag"></div>
            <hr class="nav_role">
        </button>
        <button type="button" class="v10_582" onclick="">
            <span class="v10_584">그룹관리</span>
            <div class="hashtag"></div>
            <hr class="nav_role">
        </button>
        <!--가입한 그룹 정렬할 위치 주소도 바꿔야함-->
        <button type="button" class="v10_582" onclick="">
            <span class="v10_584" th:text="${groupIntro.name()}">MOA</span>
            <hr class="nav_role">
        </button>
    </div>

    <!--그룹페이지 메인 소개-->
    <div class="grouppage_intro">
        <form>
            <div class="v10_762">
                <div class="back_image"></div>
                <div class="profile_image"></div>
                <span class="profile_name_font" th:text="${groupIntro.name()}">MOA</span>
                <span class="profile_intro" th:text="${groupIntro.introduce()}">그룹 설명</span>
                <div class="interest">
                    <div class="github_image"></div>
                    <span class="v10_769">GitHub : <span>https://github.com/capstone-moa</span></span>
                    <span class="v10_770">Interest : </span>
                    <div class="v10_771"><span class="v10_772" th:text="|# ${groupIntro.interest()}|">#web</span></div>
                </div>
                <div class="v10_775">
                    <div class="v10_779"></div>
                    <span class="mypage_location">경기도, 오산</span>
                </div>
            </div>

            <!--그룹페이지 중간 카테고리 -------주소 바꿔야함-------->
            <div class="v10_796">
                <div class="middle_category1" th:onclick="|location.href='@{/posts/group_intro}'|"><span
                        class="text_black">그룹소개</span></div>
                <div class="middle_category2" th:onclick="|location.href='@{/posts/group_notice}'|"><span class="text_black">공지사항</span>
                </div>
                <div class="middle_category3" th:onclick="|location.href='@{/posts/group}'|"><span class="text_white">프로젝트 관리</span>
                </div>
                <div class="middle_category4" th:onclick="|location.href='@{/posts/group}'|"><span class="text_black">일정관리</span>
                </div>
            </div>

            <!-----------공지사항-----작성버튼 group_notice_write로 이동되게 하면됩니당! 모양이 똑같아성------->
            <div class="v10_780">
                <span class="v10_782">프로젝트 관리 - 이슈<br></span>
                <span class="v10_491"><hr></span>
                <button class="image_1" onclick="window.open('https://www.erdcloud.com/');"></button>
                <span class="image_509">ERD</span>
                <button class="image_2" onclick="window.open('https://www.figma.com/');" ></button>
                <span class="image_510">FIGMA</span>
                <button class="image_3"></button>
                <span class="image_511">이슈</span>
                <button class="image_4"></button>
                <span class="image_512">보고서</span>

                <button type="button" class="button" th:onclick=""><span class="v30_1660">작성</span>
                </button>

                <!--게시글 한개-->
                <div class="v10_501">
                    <th:block th:each="">
                        <div class="v10_502">
                            <div class="white_box">
                                <div class="v10_506">
                                    <span class="v10_507" th:text="${community.memberName()}">아이디1</span>
                                    <span class="v10_508" th:text="${community.memberJob()}">직업</span>
                                    <span class="v10_2226" th:text="${community.createdAt()}">2023.05-01</span>
                                    <div class="profile_image_509"></div>
                                </div>
                                <button class="v10_510" id='btn2' type="button" onclick='toggleBtn1()'>
                                    <div class="v10_511"></div>
                                    <div class="v10_512"></div>
                                    <div class="v10_513"></div>
                                </button>
                                <div class="Toggle" style="display: none;" id='btn1'>
                                    <button class="v10_514">수정</button>
                                    <button class="v10_514">삭제</button>
                                </div>
                                <span class="v10_505" th:text="${community.title()}">제목</span>
                                <span class="v10_509" th:text="${community.content()}">내용</span>
                                <hr class="bar">
                            </div>
                        </div>

                    </th:block>
                    <!---간격 띄우기-->
                    <div class="v10_223"></div>
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>