<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <link href="https://fonts.googleapis.com/css?family=NanumGothic&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link href="/css/community.css" rel="stylesheet"/>
    <title>community_board</title>
</head>

<body>
<div layout:fragment="content">
<div class="v10_483">
    <!--좌측 네비게이션 바-->
    <div class="category">
        <th:block th:each="interest : ${interests}">
            <button type="button" class="v10_582" th:onclick="|location.href='@{/posts/community(interest=${interest})}'|" >
                <span class="v10_584" th:text="${interest.name()}" ></span>
                <div class="hashtag"></div>
                <hr class="nav_role">
            </button>
        </th:block>
    </div>

    <!--게시판 메인-->
    <div class="v10_488">
        <div class="v10_490">
            <button type="button" class="button" th:onclick="|location.href='@{/posts/write}'|"><span class="v30_1660">작성</span>
            </button>
            <span class="v10_493">커뮤니티</span>
            <span class="v10_491"><hr>개발자들이 소통하는 공간</span>
        </div>

        <!--정렬-->
        <div class="v10_497">
            <select name="" id="">
                <option value="">최근순</option>
                <option value="">인기순</option>
            </select>
        </div>

        <!--게시판 내용-->
        <div class="v10_501">
            <!--게시글 한개-->
            <th:block th:each="community : ${communityPosts}">
                <div class="v10_502">
                    <div class="white_box">
                        <div class="v10_506">
                            <span class="v10_507" th:text="${community.memberName()}">아이디1</span>
                            <span class="v10_508" th:text="${community.memberJob()}">직업</span>
                            <span class="v10_2226" th:text="${community.createdDateTime()}">2023.05-01</span>
                            <div class="profile_image_509"></div>
                        </div>
                        <div class="v10_510">
                            <div class="v10_511"></div>
                            <div class="v10_512"></div>
                            <div class="v10_513"></div>
                        </div>
                        <span class="v10_505" th:text="${community.title()}"
                              th:onclick="|location.href='@{/posts/{postId}(postId=${community.postId()})}'|">제목</span>
                        <hr class="bar">
                        <div class="blue_box"></div>
                        <span class="blue_font" th:text="|# ${community.interest()}|">#Designer</span>
                        <!--댓글-->
                        <div class="v10_315"></div>
                        <span class="v10_317" th:text="${community.commentCnt()}">3</span>
                    </div>
                </div>
            </th:block>

            <!---간격 띄우기-->
            <div class="v10_223"></div>
        </div>
    </div>
</div>
</div>
</body>

</html>