<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/css?family=NanumGothic&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link href="/css/search.css" rel="stylesheet" />
    <title>search_board</title>
</head>

<body>
<div class="v10_483">
    <!--헤더-->
    <div class="container" >
        <div th:replace="~{common/header::header}"></div>
    </div>

    <!--좌측 네비게이션 바-->
    <div class="category">
        <button type="button" class="v10_582" th:onclick="|location.href='@{/posts/community}'|" >
            <span class="v10_584">커뮤니티</span>
            <div class="hashtag"></div>
            <hr class="nav_role">
        </button>
        <button type="button" class="v10_582" th:onclick="|location.href='@{/posts/team}'|" >
            <span class="v10_584">팀원모집</span>
            <div class="hashtag"></div>
            <hr class="nav_role">
        </button>
    </div>

    <!--게시판 메인-->
    <div class="v10_488">
        <div class="v10_490">
            <button type="button" class="button" th:onclick="|location.href='@{/posts/write}'|"><span class="v30_1660">작성</span></button>
            <span class="v10_493">검색</span>
            <span class="v10_491"><hr></span>
        </div>

        <!--정렬-->
        <div class="v10_497">
            <select name="" id="">
                <option value="">최근순</option>
                <option value="">인기순</option>
            </select>
        </div>

        <!--게시판 내용-->
        <div class="v10_501">
            <!--게시글 한개-----검색결과로 바꿔야합니당!-->
            <th:block th:each="team : ${teamPosts}">
                <div class="v10_502">
                    <div class="white_box">
                        <div class="v10_506">
                            <span class="v10_507" th:text="${team.memberName()}">아이디1</span>
                            <span class="v10_508" th:text="${team.memberJob()}">iOS developer</span>
                            <span class="v10_2226" th:text="${team.createdDateTime()}">2023.05-01</span>
                            <div class="profile_image_509"></div>
                        </div>
                        <div class="v10_510">
                            <div class="v10_511"></div>
                            <div class="v10_512"></div>
                            <div class="v10_513"></div>
                        </div>
                        <span class="v10_505" th:text="${team.title()}" th:onclick="|location.href='@{/posts/{postId}(postId=${team.postId()})}'|">포트폴리오 프로젝트 같이 협업하실 디자이너분 한분 구합니다!</span>
                        <hr class="bar">
                        <div class="blue_box"></div><span class="blue_font" th:text="|# ${team.interest()}|">#Designer</span>
                        <!--댓글-->
                        <div class="v10_315"></div>
                        <span class="v10_317" th:text="${team.commentCnt()}">3</span>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>

</html>