<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css?family=NanumGothic&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link href="/css/view.css" rel="stylesheet"/>
    <title>view</title>
</head>
<script>
    function toggleBtn1() {

        // 토글 할 버튼 선택 (btn1)
        const btn1 = document.getElementById('btn1');

        // btn1 숨기기 (display: none)
        if(btn1.style.display !== 'none') {
            btn1.style.display = 'none';
        }
        // btn` 보이기 (display: block)
        else {
            btn1.style.display = 'block';
        }
    }
</script>

<body>
<!--헤더-->
<div class="header_bar">
    <div class="logo" th:onclick="|location.href='@{/posts}'|"></div>
    <div class='v-line'></div>
    <div class="community" th:onclick="|location.href='@{/posts/community}'|"></div>
    <span class="nav_text_community">커뮤니티</span>
    <div class="team" th:onclick="|location.href='@{/posts/team}'|"></div>
    <span class="nav_text_team">팀원모집</span>
    <div class="search">
        <input type="text" placeholder="검색어 입력">
        <button type="button" onclick="" class="img_search">
            <i class="material-icons">search</i>
        </button>
    </div>
    <div class="v10_2253">
        <button type="button" th:onclick="|location.href='@{/posts/login}'|" class="login_border"><span
                class="name_login">로그인</span></button>
    </div>
    <div class="v10_2261">
        <button type="button" th:onclick="|location.href='@{/posts/join}'|" class="join_border"><span class="name_join">회원가입</span>
        </button>
    </div>
    <div class="logo" th:onclick="|location.href='@{/posts}'|"></div>
</div>

<div class="v104_2240">
    <!--게시판 뷰 메인-->
    <div class="board_view">
        <div class="v104_2505">
            <!-- 게시물 메인 -->

            <span class="view_title" th:text="${postDetail.title()}">제목</span>
            <textarea class="view_text" cols="33" th:text="${postDetail.content()}" readonly>내용</textarea>
            <div class="v104_2678">
                <span class="v104_2679" th:text="|#${postDetail.interest()}|">#JAVA</span>
            </div>
            <div class="writer_profile">
                <span class="v104_2511" th:text="${postDetail.memberName()}">작성자 이름</span>
                <span class="v104_2512" th:text="${postDetail.memberJob()}">작성자 직업</span>
                <span class="v104_2676" th:text="${postDetail.createdDateTime()}">작성일</span>
                <div class="writer_image"></div>
                <button class="v10_510" id='btn2' onclick='toggleBtn1()'>
                    <div class="v10_511"></div>
                    <div class="v10_512"></div>
                    <div class="v10_513"></div>
                </button>
                <div class="Toggle" style="display: none;" id='btn1'>
                    <button class="v10_514">수정</button>
                    <button class="v10_514">삭제</button>
                </div>
            </div>
            <!-- 댓글 -->
            <!-- 댓글 작성-->
            <div class="v104_2683"><hr>
                <div class="v104_2684">
                    <div class="comment_profile_image"></div>
                    <p><textarea class="comment_textarea" placeholder="댓글을 작성해보세요"></textarea></p>
                    <div class="v30_1649">
                        <button type="button" th:onclick="" class="button"><span class="v30_1651">작성</span></button>
                    </div>
                </div>
                <!-- 댓글 조회 한개 -->
                <th:block th:each="comment : ${postDetail.comments()}">
                    <div class="comment">
                        <textarea class="v104_2689" th:text="${comment.content()}" readonly>댓글내용입니당.</textarea>
                        <span class="v104_2690" th:text="${comment.createdDateTime()}">2023-07-14</span>
                        <span class="v104_2691" th:text="${comment.memberName()}">닉네임1</span>
                        <div class="comment_profile_image1"></div>
                    </div>
                    <div class="comment">
                        <textarea class="v104_2689" th:text="${comment.content()}" readonly>댓글내용입니당.</textarea>
                        <span class="v104_2690" th:text="${comment.createdDateTime()}">2023-07-14</span>
                        <span class="v104_2691" th:text="${comment.memberName()}">닉네임1</span>
                        <div class="comment_profile_image1"></div>
                </th:block>
            </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>