* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v10_483 {
  width: 100%;
  height: 1600px;
  background: rgba(247,249,251,1);
  overflow: hidden;
}
/*****************게시판 메인*******************/
.v10_488 {
  width: 100%;
  height: 2214px;
  position: relative;
  left: 384px;
  overflow: hidden;
}

.v10_490 {
  width: 862px;
  height: 105px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 53px;
  left: 40px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.button {
  width: 91px;
  height: 32px;
  background-color:rgba(0,119,181,1);
  position: relative;
  top: 19px;
  left: 734px;
  overflow: hidden;
  border: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.v30_1660 {
  width: 23px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 34px;
  font-family: NanumGothic;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v10_491 {
  width: 494px;
  color: rgba(24,24,24,0.20000000298023224);
  position: absolute;
  top: 58px;
  left: 32px;
  font-family: NanumGothic;
  font-weight: normal;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.v10_493 {
  width: 287px;
  color: rgba(24,24,24,1);
  position: absolute;
  top: 28px;
  left: 32px;
  font-family: NanumGothic;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}

/*********정렬*********/
select {
  width:100px;
  padding:3px;
  border: none;
  font-family: NanumGothic;
  font-weight: Bold;
  border-radius:3px;
}

select::-ms-expand {
  display: none;
}

.v10_497 {
  width: 130px;
  height: 30px;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 410px;
  overflow: hidden;
}

.v10_501 {
  width: 860px;
  height: 1800px;
  opacity: 1;
  position: absolute;
  top: 260px;
  left: 40px;
  overflow: hidden;
}
.v10_502 {
  width: 862px;
  height: 205px;
  position: relative;
  overflow: hidden;
}

.white_box {
  width: 862px;
  height: 190px;
  background: rgba(255,255,255,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

.v10_165 {
  width: 550px;
  height: 52px;
  position: absolute;
  top: 25px;
  left: 21px;
  overflow: hidden;
}
.v10_166 {
  width: 86px;
  color: rgba(24,24,24,1);
  position: absolute;
  top: 9px;
  left: 72px;
  font-family: Roboto Mono;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10_167 {
  width: 96px;
  color: rgba(24,24,24,1);
  position: absolute;
  top: 30px;
  left: 73px;
  font-family: NanumGothic;
  font-weight: normal;
  font-size: 10px;
  text-align: left;
}

.v10_505 {
  width: 539px;
  color: rgba(24,24,24,1);
  position: absolute;
  top: 100px;
  left: 50px;
  font-family: NanumGothic;
  font-weight: normal;
  font-size: 14px;
  text-align: left;
}

.v10_506 {
  width: 900px;
  height: 51px;
  position: absolute;
  top: 26px;
  left: 49px;
  overflow: hidden;
}
.v10_507 {
  width: 128px;
  color: rgba(24,24,24,1);
  position: absolute;
  top: 8px;
  left: 89px;
  font-family: NanumGothic;
  font-weight: Bold;
  font-size: 14px;
  text-align: left;
}
.v10_508 {
  width: 142px;
  color: rgba(24,24,24,1);
  position: absolute;
  top: 29px;
  left: 91px;
  font-family: NanumGothic;
  font-weight: normal;
  font-size: 10px;
  text-align: left;
}
.v10_2226 {
  width: 96px;
  color: rgba(24,24,24,1);
  position: absolute;
  top: 0px;
  left: 710px;
  font-family: NanumGothic;
  font-weight: normal;
  font-size: 10px;
  text-align: left;
}
.profile_image_509 {
  width: 64px;
  height: 52px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}


.blue_box {
  width: 75px;
  height: 24px;
  background: rgba(232,240,247,1);
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 30px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

.blue_font {
  width: 70px;
  color: rgba(90,147,232,1);
  position: absolute;
  top: 166px;
  left: 40px;
  font-family: NanumGothic;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}


.blue_font2 {
  width: 70px;
  color: rgba(90,147,232,1);
  position: absolute;
  top: 174px;
  left: 141px;
  font-family: NanumGothic;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}


/*************좌측 네비게이션 바*********/
.category {
  position: absolute;
  top: 91px;
  left: 120px;
  width: 290px;
  height: 420px;
  overflow: hidden;
}

.v10_582 {
  width: 290px;
  height: 50px;
  overflow: hidden;
  border: none;
  position: relative;
  top: 50px;
  left: 0px;
  background: rgba(255,255,255,1);

}
hr.nav_role{
  border: solid 260px #F7F9FB;
  position: relative;
  top: 50px;
  left: -10px;

}

.v10_584 {
  width: 100px;
  color: rgba(24,24,24,1);
  position: absolute;
  top: 18px;
  left: 56px;
  font-family: NanumGothic;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.hashtag {
  width: 15px;
  height: 15px;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 31px;
  overflow: hidden;
  background: url("../images/hashtag.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

/**********댓글********/

hr.bar {
  border: solid 2px #F7F9FB;
  position: absolute;
  top: 150px;
  width: 883px;
}

.v10_315 {
  width: 20px;
  height: 20px;
  background: url("../images/comment.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 168px;
  left: 790px;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}

.v10_317 {
  width: 8px;
  color: rgba(24,24,24,1);
  position: absolute;
  top: 168px;
  left: 820px;
  font-family: NanumGothic;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10_223 {
  width: 900px;
  height: 80px;
}
